In [2]:
import joblib

In [5]:
r=joblib.load('lin_reg.joblib')

In [11]:
i=[[0, 1, 1400, 1452, 2.0,
       8, 0, 4, 4, 1]]

In [12]:
i

[[0, 1, 1400, 1452, 2.0, 8, 0, 4, 4, 1]]

In [13]:
r.predict(i)

C:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3068491.66379205])

In [14]:
import pandas as pd

In [15]:
df=pd.read_csv('Test_data_w-target.csv')

In [16]:
df.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,city,country,price
0,3.0,1.75,2300,35722,1.0,0,0,3,15,15,520000.0
1,3.0,1.00,940,10368,1.0,0,0,3,4,4,354000.0
2,3.0,2.25,1680,57063,2.0,0,0,4,6,6,440000.0
3,4.0,4.00,3570,8250,2.0,0,0,3,27,27,597326.0
4,2.0,1.00,900,28800,1.0,0,0,1,20,20,235000.0

In [17]:
df.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'city', 'country', 'price'],
      dtype='object')

In [18]:
X = df[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'city', 'country']]
y = df['price']

In [20]:
r.score(X,y)

0.530128462160072

In [21]:
r.predict(X)

array([512340.3586865 , 219777.43728896, 462004.21352262, ...,
       627546.17856169, 572588.9979448 , 582431.2233189 ])